.jumbotron {
  background: none;
}

#worksTitle {
  text-align: center;
  padding-top: 0;
  padding-bottom: 20px;
  font-size: 100px;
}

#worksJumbotron {
  padding-top: 0;
  /* background-color: aqua;
  color: black; */
}
