#githubLink {
  color: gray;
}
#githubLink:hover {
  color: white;
}

#linkedInLink {
  color: gray;
}
#linkedInLink:hover {
  color: white;
}

#emailLink {
  color: gray;
}
#emailLink:hover {
  color: white;
}

a {
  text-decoration: none;
}

#emailContact {
  font-size: 50px;
}

#socialLinks {
  font-size: 50px;
  padding-top: 0;
}

#resumeLink {
  color: gray;
}
#resumeLink:hover {
  color: white;
}

@media only screen and (max-width: 700px) {
  #emailContact {
    font-size: 30px;
  }

  #socialLinks {
    font-size: 30px;
    padding-top: 0;
  }
}
