#linkedInIcon {
  padding-left: 50px;
  margin: 15px;
}

#githubIcon {
  margin: 15px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: none;
  color: white;
  text-align: left;
}
