#homeText {
  padding-top: 160px;
  text-align: center;
  height: 300px;
  font-size: 60px;
}

#homeText2 {
  color: gray;
  font-size: 60px;
}

@media only screen and (max-width: 700px) {
  #homeText {
    font-size: 35px;
    height: 85px;
  }
  #homeText2 {
    font-size: 30px;
  }

  #homeImage {
    font-size: 15px;
    text-align: center;
    padding: 35px;
    margin: 20px;
  }

  #homeTextDiv {
    padding-top: 40px;
    margin-top: 20px;
    font-size: 45px;
  }
}
